html {
    font-family: Roboto, sans-serif;
}

body {
    height: 97vh;
    width: 97vw;
    box-sizing: border-box;
    background: #202020;
    color: #FBC02D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 500px;
    text-align: center;
    background: #404040;
    border-radius: 25px;
}

.imgContainer {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin: 50px 0 15px 0;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 0.9em;
}

button {
    border: 3px solid #606060;
    border-radius: 10px;
    padding: 9px;;
    font-size: 52px;
    background: #606060;
}

#playAgain {
    font-size: 18px;
    color: white;
    margin: 15px;
}

button:hover  {
    background: #808080;
    cursor: pointer;
}

.hide {
    display: none;
}